{% extends 'base.html.twig' %}

{% block title %}Aperçu de {{template.name}}{% endblock %}

{% block body %}
        <h1>{{template.name}}</h1>
        <div id="show-template-container">
            <div id="show-template-container-inside">
                <span>{{template.contenu}}</span>
            </div>
        </div>

        <div class="context-action">
            <a href="#" class="btn btn-info">Download to PDF</a>
            <input type="checkbox" name="Favorite" id="{{template.id}}"><span></span>
        </div>
        

    <a href="{{ path('marketplace') }}">Back to Marketplace</a>

    <script type="text/javascript">
        const temaplate = document.getElementById("show-template-container")
        temaplate.innerHTML = temaplate.innerText;
    </script>

    <style>
        html {
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  background-color: rgb(150, 150, 150);
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: grey;
}

.carrousel {
  width: 100%;
  height: 600px;

  background-image: linear-gradient(
      90deg,
      rgba(98, 98, 98, 0.3) 0%,
      rgba(98, 98, 98, 0.3) 100%
    ),
    url("Caroussel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #05438c;
}
section {
  background-image: linear-gradient(
      90deg,
      rgba(98, 98, 98, 0.5) 0%,
      rgba(98, 98, 98, 0.5) 100%
    ),
    url("Equipe1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.color {
  background-color: rgba(250, 250, 250, 0, 7);
  position: relative;
  z-index: 2;
}

.team {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: transparent;
  box-shadow: 10px 10px 10px 10px transparent;
  color: wheat;
}

footer {
  background-color: #242424;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: grey;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
}

.profil {
  background-image: url("progil.png");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: 5px;
}

.templates-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.template-card{
	border: #242424 solid 2px;
	width: 20%;
	min-height: 15vh;
	margin-bottom: 5%;
	background-image: linear-gradient(
    15deg,
    rgba(0, 0, 0, 1),
    rgba(15, 15, 15, 0.8),
    rgba(255, 255, 255, 0.5)),
    url("Caroussel.jpg");
	background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  padding: 5%;
  margin-top: 5%;
  transition: ease 1s;
  

}

.template-card-txt p{
  color: white;
  
}

a:visited{
  color: white;
}
a:link{
  color: white;
}

a{
  text-decoration: none;
}

#show-template-container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
  width: 31.5cm;
  height: 44.5cm;
  border: solid black 1px;
  background-color: white;
}

.context-action{
  width: 10%;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.template-card:hover{
  transform: scale(1.1);
  transition: ease 1s;
}


    </style>
{% endblock %}
