{% extends 'base.html.twig' %}

{% block title %}Aperçu de {{template.name}}{% endblock %}

{% block body %}
        <h1>{{template.name}}</h1>
        <div id="show-template-container">
            <div id="show-template-container-inside">
                <span>{{template.contenu}}</span>
            </div>
        </div>

        <div class="context-action">
            <a href="#" class="btn btn-info">Download to PDF</a>
            <input type="checkbox" name="Favorite" id="{{template.id}}"><span></span>
        </div>
        

    <a href="{{ path('marketplace') }}">Back to Marketplace</a>

    <script type="text/javascript">
        const temaplate = document.getElementById("show-template-container")
        temaplate.innerHTML = temaplate.innerText;
    </script>
{% endblock %}
