<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TableTopInfinity - Génerateur de feuille de personnages</title>
	{% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
	<header>

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a href="{{ path('app_logout') }}"><button class="profil"></button></a>
		{% else %}

			<a href="{{ path('login') }}"><button class="profil"></button></a>
		{% endif %}
	</header>

	<nav>
		<a href="">Partie</a>
		<a href="{{ path('sheet_creator') }}">Générateur</a>
		<a href="">MarketPlace</a>
		<a href="{{ path('A_Propos') }}">A Propos</a>
	</nav>
	<span>
		<div class="carrousel">
			<h1>Bienvenue sur TableTopInfinity</h1>
			<h3>Crée et gérer vos partie de Jeu de Role et feuilles de personnage facilement avec TableTopInfinity</h3>
		</div>
		

	</span>

<footer>
	<a href="">Condition général</a>
	<a href="">Politique de confidentialité</a>
</footer>
</body>
</html>