<nav>
    <a href="{{ path('home') }}">Home</a>
    <a href="{{ path('sheet_creator') }}">Générateur</a>
    <a href="{{ path('marketplace') }}">MarketPlace</a>
    <a href="{{ path('about')}}">A Propos</a>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a href="{{ path('app_logout') }}"><button class="profil"></button></a>
		{% else %}

			<a href="{{ path('login') }}"><button class="profil"></button></a>
		{% endif %}
</nav>