{% extends 'base.html.twig' %}

{% block title %}Character creator{% endblock %}

{% block body %}
<head>
    {% block stylesheets %}
        <link href="{{ asset('css/characterSheet.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>


<div class="sheet-creator">
<div class="widget-list">
    <h1>Widgets</h1>

    <div class="recherche">
        <input type="text" placeholder="Rechercher un widget" name="search">
        <button>Rechercher</button>
    </div>
    
    {% for widget in widgets %}
    <div class="widget_container">
        <div class="name">
            <div>{{ widget.name }}</div>
        </div>
        
        <hr>
        <div class="preview">
            <div class="widget" id="{{ widget.name}}" draggable="true" ondragstart="drag(event)">
            {{widget.contenu}}
            </div>
        </div>
        <hr>
        <div class="information">
            <p class="auteur">Auteur: {{ widget.auteur }}</p>
            
            <p class="rating">Rating: {{ widget.rating }}/5</p>
        </div>
    </div>
    {% endfor %}
   
</div>
<div class="sheet-preview" id="sheet-preview-id" ondrop="drop(event)" ondragover="allowDrop(event)">

    

</div>
</div>

<script src="{{ asset('js/widgets.js') }}">
    
</script>
{% endblock %}

