{% extends 'base.html.twig' %}

{% block title %}Character creator{% endblock %}

{% block body %}
<head>
    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/characterSheet.css') }}" type="text/css" rel="stylesheet" />
    
        <head> 
  </head>
    {% endblock %}
</head>
{% include 'tabletop_infinite/Marketplace/navbar.html.twig' %}


<div class="sheet-creator">
<div class="widget-list" id="WL">
<div class="hide">
    </div>
    <h1>Widgets</h1>
    <button onclick="apercu()" >Apercu</button>
    <div class="recherche">
        <input type="text" placeholder="Rechercher un widget" name="search">
        <button>Rechercher</button>
    </div>
    <script>
        let content = "";
    </script>
    {% for widget in widgets %}
    <div class="widget_container">
        <div class="name" style="display:flex; justify-content:space-between">
            <div>{{ widget.name }}</div>
                        <button id="closeBtn" onclick="closeDiv({{ widget.id}})">X</button>
                <script>
                    function closeDiv(id){
                        let div = document.getElementById(id);
                        div.style.display = "none";
                    }
                </script>
                
            
            
        </div>
        
        <hr>
        <div class="preview">
            <div class="widget" id="{{ widget.id}}" draggable="true" ondragstart="drag(event)">
            {{ widget.contenu|raw }}

            </div>
        </div>
        <hr>
        <div class="information">
            <p class="auteur">Auteur: {{ widget.auteur }}</p>
            
            <p class="rating">Rating: {{ widget.rating }}/5</p>
        </div>
    </div>
    {% endfor %}
   
</div>
<div class="sheet-preview" id="sheet-preview-id" ondrop="drop(event)" ondragover="allowDrop(event)">

    

</div>
</div>

<script src="{{ asset('js/widgets.js') }}">
    
</script>

{% endblock %}

